body {
    padding: 0;
    margin: 0;
}

#map,
body,
html {
    height: 80%;
}

body {
    background: linear-gradient(to bottom right, #033d8d, #02b8e0); 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    height: 100%;
    border-radius: 10px;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

header {
    background-color: #ffffff20; 
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for the navigation button in the top right */
#navigate-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

#navigate-container button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#navigate-container button:hover {
  background-color: #2980b9;
}

header h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 600;
}

header h4 {
    color: white;
    font-size: 1em;
    font-weight: 400;
}

footer {
    background-color: #ffffff20; 
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#dropdown-container {
  position: absolute;
  top: 3.8%;               
  left: 5%;            
  transform: translateX(-10%);
  z-index: 1000;
  background-color: rgba(216, 19, 176, 0.95);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
  width: auto;           
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
 
label {
    font-size: 18px;
    color: white;
    font-weight: bold;
    display: block;
    margin-bottom: 2px;
}
  
select,
input[type="month"],
input[type="date"] {
    width: 200px;  
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #3498db;
    background-color: #fff;
    color: #333;
    font-family: 'Arial', sans-serif;
    transition: border-color 0.3s ease;
}
  
select:hover,
input[type="month"]:hover,
input[type="date"]:hover {
    border-color: #2980b9;
}
  
select:focus,
input[type="month"]:focus,
input[type="date"]:focus {
    outline: none;
    border-color: #2ecc71;
  }

.leaflet-popup {
    width: 350px; 
    height: auto; 
    font-size: 18px; 
    padding: 10px; 
    border-radius: 10px; 
  }

.leaflet-popup-content {
    font-size: 18px; 
    line-height: 1.5; 
  }

.leaflet-popup-close-button {
    position: absolute;  
    top: 5px;  
    right: 5px;  
    width: 30px;  
    height: 30px;  
    font-size: 20px;  
    color: rgba(216, 19, 176, 0.95);  
    text-align: center;  
    line-height: 30px;  
    border-radius: 50%;  
    z-index: 9999;  
}

.leaflet-popup-close-button::before {
    content: '';  
    position: absolute;  
    top: 0;
    left: 0;
    width: 100%;  
    height: 100%;  
    background-color: rgba(216, 19, 176, 0.95);  
    border-radius: 50%; 
    z-index: -1;  
}

.leaflet-popup-close-button span {
    color: white;
}

.contributors {
    display: flex;               
    justify-content: center;     
    align-items: center;         
    gap: 20px;                   
    flex-wrap: wrap;             
  }
  
  .contributor {
    display: flex;               
    align-items: center;         
    gap: 10px;                   
  }
  
  .contributor-img {
    width: 40px;                 
    height: 40px;                
    border-radius: 50%;          
    object-fit: cover;           
  }
  
  .contributor a {
    font-size: 16px;             
    color: white;                
    text-decoration: none;      
    transition: color 0.3s ease; 
  }
  
  .contributor a:hover {
    color: deeppink;             
    text-decoration: underline;  
  }

.info.legend {
  background-color: white;  
  border-radius: 10px;      
  padding: 10px;            
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  font-size: 14px;          
}

.info.legend i {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 5px;
  border-radius: 50%; 
}

.info.legend strong {
  display: block;
  margin-bottom: 5px;
}
